@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* Profile */

.profile-bg{
  background-image: url("/profile/profile-bg-2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Footer Wave Motion */

.wave-container {
  position: relative;
  overflow: hidden;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 200%;
  animation: waveMove 10s ease-in-out alternate-reverse infinite;
}

@keyframes waveMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/*  Section Backgrounds */

.about-bg{
    background-image: url("/about/Aboutbg.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.faqs-bg{
    background-image: url("/faq/FaqBg.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.faq-bg{
    background-image: url("/faq/FaqB.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Theme */

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 1%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
}


/* Shooting Stars */

.shootingStarWrapper{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  margin-left: 40vw;
  transform: rotateZ(-20deg);
  animation: shootingStarAnimation 5s infinite linear;
  opacity: 0;
}
.shootingStar{
  height: 0.7vh;
  width: 0.7vh;
  background-color: #fff;
  border-radius: 50%;
}
.shootingStarTail{
  height: 2px;
  width: 250px;
  background: linear-gradient(90deg,white,transparent);
}
@keyframes shootingStarAnimation {
  0%{
      transform: translateY(0px) translateX(0px) rotateZ(-20deg);
      opacity: 0;
  }
  1%{
      opacity: 1;
  }
  100%{
      transform: translateY(1000px) translateX(-3000px) rotateZ(-20deg);
  }
}
.shootingStarWrapper1{   
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 70vw;
  transform: rotateZ(-20deg);
  animation: shootingStarAnimation1 5s infinite linear;
  animation-delay: 2.5s;
  opacity: 0;
}
@keyframes shootingStarAnimation1{
  0%{
      transform: translateY(0px) translateX(0px) rotateZ(-20deg);
      opacity: 0;
  }
  1%{
      opacity: 1;
  }
  100%{
      transform: translateY(1000px) translateX(-3000px) rotateZ(-20deg);
  }
}
.shootingStarWrapper2{   
  /* background-color: red; */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 20vh; */
  margin-left: 89vw;
  transform: rotateZ(-20deg);
  animation: shootingStarAnimation2 3s infinite linear;
  animation-delay: 4.5s;
  opacity: 0;
}
@keyframes shootingStarAnimation2{
  0%{
      transform: translateY(0px) translateX(0px) rotateZ(-20deg);
      /* opacity: 0; */
  }
  1%{
      /* opacity: 0.7; */
  }
  100%{
      transform: translateY(1000px) translateX(-3000px) rotateZ(-20deg);
      /* opacity: 1; */
  }
}
.shootingStarWrapper3{   
  /* background-color: red; */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 40vh; */
  margin-left: 19vw;
  transform: rotateZ(-20deg);
  animation: shootingStarAnimation3 2s infinite linear;
  animation-delay: 6s;
  opacity: 0;
}
@keyframes shootingStarAnimation3{
  0%{
      transform: translateY(0px) translateX(0px) rotateZ(-20deg);
      opacity: 0;
  }
  1%{
      opacity: 1;
  }
  100%{
      transform: translateY(1000px) translateX(-3000px) rotateZ(-20deg);
  }
}
.shootingStarWrapper4{   
  /* background-color: red; */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 60vh; */
  margin-left: 60vw;
  transform: rotateZ(-20deg);
  animation: shootingStarAnimation4 6s infinite linear;
  animation-delay: 6s;
  opacity: 0;
}
@keyframes shootingStarAnimation4{
  0%{
      transform: translateY(0px) translateX(0px) rotateZ(-20deg);
      opacity: 0;
  }
  1%{
      opacity: 1;
  }
  100%{
      transform: translateY(1000px) translateX(-3000px) rotateZ(-20deg);
  }
}
.shootingStarWrapper5{   
  /* background-color: red; */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 50vh; */
  margin-left: 95vw;
  transform: rotateZ(-20deg);
  animation: shootingStarAnimation5 7s infinite linear;
  animation-delay: 7.5s;
  opacity: 0;
}
@keyframes shootingStarAnimation5{
  0%{
      transform: translateY(0px) translateX(0px) rotateZ(-20deg);
      opacity: 0;
  }
  1%{
      opacity: 1;
  }
  100%{
      transform: translateY(1000px) translateX(-3000px) rotateZ(-20deg);
  }
}
.shootingStarWrapper6{   
  /* background-color: red; */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 20vh; */
  margin-left: 10vw;
  transform: rotateZ(-20deg);
  animation: shootingStarAnimation6 3s infinite linear;
  animation-delay: 7.5s;
  opacity: 0;
}
@keyframes shootingStarAnimation6{
  0%{
      transform: translateY(0px) translateX(0px) rotateZ(-20deg);
      opacity: 0;
  }
  1%{
      opacity: 1;
  }
  100%{
      transform: translateY(1000px) translateX(-3000px) rotateZ(-20deg);
  }
}
.shootingStarWrapper7{   
  /* background-color: red; */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 5vh; */
  margin-left: 30vw;
  transform: rotateZ(-20deg);
  animation: shootingStarAnimation7 10s infinite linear;
  animation-delay: 7.5s;
  opacity: 0;
}
@keyframes shootingStarAnimation7{
  0%{
      transform: translateY(0px) translateX(0px) rotateZ(-20deg);
      opacity: 0;
  }
  1%{
      opacity: 1;
  }
  100%{
      transform: translateY(1000px) translateX(-3000px) rotateZ(-20deg);
  }
}
.shootingStarWrapper8{   
  /* background-color: red; */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 5vh; */
  margin-left: 90vw;
  transform: rotateZ(-20deg);
  animation: shootingStarAnimation8 8s infinite linear;
  animation-delay: 7.5s;
  opacity: 0;
}
@keyframes shootingStarAnimation8{
  0%{
      transform: translateY(0px) translateX(0px) rotateZ(-20deg);
      opacity: 0;
  }
  1%{
      opacity: 1;
  }
  100%{
      transform: translateY(1000px) translateX(-3000px) rotateZ(-20deg);
  }
}
.shootingStarWrapper9{   
  /* background-color: red; */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 35vh; */
  margin-left: 90vw;
  transform: rotateZ(-20deg);
  animation: shootingStarAnimation9 7s infinite linear;
  animation-delay: 4.5s;
  opacity: 0;
}
@keyframes shootingStarAnimation9{
  0%{
      transform: translateY(0px) translateX(0px) rotateZ(-20deg);
      opacity: 0;
  }
  1%{
      opacity: 1;
  }
  100%{
      transform: translateY(1000px) translateX(-3000px) rotateZ(-20deg);
  }
}